<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
<!-- Display a message to the user. -->
<p>I Love Movies!</p>
<!-- Add a link to the best movie page. -->
<a href="bestMovie">Find the best Movie!</a>
<br/>
<!-- Add a link to the vote for best movie form. -->
<a href="voteForBestMovieForm">Vote for your favorite movie!</a>
<br/>
<!-- Add a link to the add movie form. -->
<a href="addMovieForm">Add a movie</a>
</body>
</html>